@import '../global.scss';

.ChannelScreen {
  padding: $margin-large;
  height: calc(100% - 56px);

  .leftPanel {
    float: left;
    width: 400px;
    .card {
      margin-bottom: $margin-large;
    }
  }

  .mainPanel {
    float: left;
    width: calc(100% - 400px);
    min-width: 400px;
    height: 100%;
    padding-left: $margin-large;
    .helloPanel {
      margin: auto;
      width: 600px;
      margin-top: 10%;
    }
  }
}
