@import '../../global.scss';

.ChannelPanel {
  height: calc(100% - #{$margin-large});
  padding: 2rem;

  .loading {
    width: 150px;
    margin: auto;
    margin-top: 10%;
    .spinner-border {
      width: 150px;
      height: 150px;
    }
  }

  .noChannel {
    text-align: center;
    font-size: 120%;
    margin-top: 10%;
  }

  .channelHeader {
    height: 50px;
    .channelId {
      float: right;
      margin-top: -1rem;
      color: rgba(0, 0, 0, 0.7);
      font-size: 0.9rem;
    }
    .channelName {
      display: inline-block;
    }
    .channelDescription {
      display: inline-block;
      margin-left: $margin-large;
      font-size: 1rem;
      font-style: italic;
    }
  }

  .channelShow {
    height: calc(100% - 90px);
    overflow-y: auto;
    overflow: auto;
  }

  .channelSend {
    height: 40px;
    margin-top: 10px;
    .formMessage {
      display: flex;
      .textZone {
        width: calc(100% - 100px);
      }
      .buttonZone {
        width: 100px;
        text-align: center;
      }
    }
  }
}
