@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';

#App {
  height: 100%;
}

.init {
  width: 200px;
  margin: auto;
  padding-top: 200px;
  .spinner-grow {
    width: 200px;
    height: 200px;
  }
}
