@import '../../global.scss';

.GlobalInfo {

  .loadingSpinner {
    margin-right: $margin-large;
    margin-top: 4px;
    color: rgba(255, 255, 255, 0.8);
  }

  .alertZone {
    position: fixed;
    top: 70px;
    right: 10px;
    .alert {
      font-size: 95%;
    }
  }

}
